<!-- begin header  -->
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__block">
            <a class="footer__phone roistat-phone-tel js-phone-wrap" href="tel:+74997042796"><span class="roistat-phone">8 (499) 704-27-96</span></a><br>
            <a class="footer__mail js-email-link" href="mailto:sales@metacrete.ru">sales@metacrete.ru</a>
        </div>

        <div class="footer__block">
            <p class="footer__ur-info">
                ООО "МЕТАКРИТ"<br>
                ИНН 7720329610<br>
                КПП 772001001<br>
                111141, РОССИЙСКАЯ ФЕДЕРАЦИЯ, Г. МОСКВА,<br>
                УЛ. ПЛЕХАНОВА, Д. 9, СТР. 15, ПОМ. 7
            </p>
        </div>

        <div class="footer__block">
            <a class="button button-application  button-application--bottom js-show-modal" href="#js-modal">
                Оставить заявку
            </a>
        </div>
    </div>
</footer>

<!-- end header -->
