<!-- Modals -->
<div class="overlay" id="js-overlay"></div>
<div class="modal js-modal" id="js-modal">
    <h2 class="modal__title">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</h2>
    <p class="modal__desc">Позвоним в течение 15 минут</p>

    <form class="modal-form" action="succes.php" method="post">
        <input class="modal-form__phone" type="text" name="phone" required="" placeholder="Ваш номер телефона">
        <button class="button-form" type="submit">Заказать</button>
        <p class="modal-form__desc">Нажимая на кнопку, я даю <a href="soglashenie.pdf" target="_blank" class="modal-form__link">cогласие на обработку персональных данных</a></p>
        <input type="hidden" name="forma" value="Обратный звонок">
        <input type="hidden" name="order_type" value="1">
        <input type="hidden" name="utm_source" value="">
        <input type="hidden" name="utm_medium" value="">
        <input type="hidden" name="utm_campaign" value="">
        <input type="hidden" name="utm_term" value="">
        <input type="hidden" name="utm_content" value="">
        <input type="hidden" value="8838" name="time_spend"><input type="hidden" value="false" name="mobile">
    </form>

    <a href="#" class="modal__close js-modal-close"></a>
</div>