<section class="certificates">
    <div class="certificates__inner">
        <h2 class="certificates__title"><span class="certificates__title-bold">СМЕCИ METACRETE ПРОШЛИ ВСЕ ИСПЫТАНИЯ</span><br>
            И СЕРТИФИЦИРОВАНЫ В ОАО "НИИМОССТРОЙ"</h2>

        <div class="slider">
            <button class="slider__btn slider__btn--prev js-slider-prev"></button>
            <button class="slider__btn slider__btn--next js-slider-next"></button>

            <div class="slider__inner" id="js-testimonials-slider">
                    <div class="slider__item">
                            <img src="images/certificates/cert1.jpg"  alt="cert1">
                    </div>
                    <div class="slider__item">
                        <img src="images/certificates/cert2.jpg"  alt="cert2">
                    </div>
                    <div class="slider__item">
                        <img src="images/certificates/cert3.jpg"  alt="cert3">
                    </div>
                    <div class="testimonials__item">
                        <img src="images/certificates/cert4.jpg"  alt="cert4">
                    </div>
            </div>
        </div>
    </div>
</section>