<section class="features">
    <div class="features__inner">
        <h2 class="features__title-block">Особенности</h2>
        <div class="features__item">
            <h4 class="features__title features__title--destruction">Разрушения</h4>
            <p class="features__description">
                Мы разрабатываем и производим материалы для:
                ремонта бетона и железаботона при различных повреждениях.
            </p>
            <a class="features__link" href="#">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--objects">Объекты</h4>
            <p class="features__description">
                За последние 2 года нашими смесями было отремонтированно более 100 объектов от торговых цетров до мостов.
            </p>
            <a class="features__link" href="#">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--price">Стоимость</h4>
            <p class="features__description">
                Наши клиенты экономят до 40% покупая наши смеси.
            </p>
            <a class="features__link" href="#">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--quality">Качество</h4>
            <p class="features__description">
                Качество и экологичность зарегистрированы Международной организацией по стандартизации (ИС), ISO9001.
            </p>
            <a class="features__link" href="#">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--availability">Доступность</h4>
            <p class="features__description">
                Продукция Metacrete распространяется через крупные города РФ:
                Москва, Санкт-Петербург, Краснодар, Екатеринбург, Самара, Нижний Новгород...
            </p>
            <a class="features__link" href="#">Узнать Подробнее</a>
        </div>

        <div class="features__item">
            <h4 class="features__title features__title--approach">Доступность</h4>
            <p class="features__description">
                Накопленный компанией опыт позволяет найти индивидуальные решения для любых задач бизнеса, техники и технологии.
            </p>
            <a class="features__link js-show-modal-features" href="#js-modal-features6">Узнать Подробнее</a>
        </div>

    </div>
</section>