<section class="key-objects">
    <div class="key-objects__inner">
        <div id="js-lightgallery">
            <a href="http://placehold.it/700x500" data-sub-html="#caption2">
                <img src="http://placehold.it/100x50" alt="">
            </a>
            <a href="http://placehold.it/700x500/333">
                <img src="http://placehold.it/100x50/333" alt="">
            </a>
            <a href="http://placehold.it/700x500/ccc">
                <img src="http://placehold.it/100x50/ccc" alt="">
            </a>
        </div>

    </div>
</section>