.button-application
  font-family 'PT Sans', sans-serif
  padding .3em .8em
  border 1px solid rgba(255,194,0,1)
  font-size 125%
  line-height 1.5
  display block
  border-radius .12em
  color #fff
  text-decoration none
  outline none

  &--top
    margin .3em 2.8em 0

  &:hover
    cursor pointer
    background rgba(255, 194, 0, 0.14)
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease