.footer
  width 100%
  background-color #2c3039
  display inline-block
  margin-bottom -5px
  padding 10px 0

  &__inner
    max-width 1200px
    margin 0 auto

  &__block
    width 33.333333333%
    float left
    @media (max-width: 768px)
      float none
      width 100%
      text-align center
      margin 0 auto

  &__phone
    color #ffc200
    text-decoration none
    font-size 22px
    margin 20px 0px 5px 0
    display inline-block

  &__mail
    color #fff
    text-decoration none
    font-size 22px

  &__ur-info
    color #fff
    font-size 13px
    margin 10px 0
    display inline-block